/*@font-face {*/
/*    font-family:  ;*/
/*    src: url('fonts/Circular Font Family/');*/
/*}*/

html, body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    overflow: hidden;
}